.row-fluid
  .span1
    %ul.thumbnails{:style => 'padding: 0px; margin-top:0px;'}
      %li.span1
        .thumbnail.nopadding
          != link_to(image_tag(@user.profile_pic.photo.url(:thumb)), users_photos_path) rescue '<img src="http://placehold.it/75x100" >'
  .span5
    %h3= @user.firstname
    %p
      = "#{@user.gender} / #{age(@user.birthdate)} / #{@user.orientation} / #{@user.zipcode}"
    %p
      %i.icon-camera
      = link_to(pluralize(@user.user_images.count, "picture"), users_photos_path)
    %p
      = link_to('Edit your details', '#', :onclick=>'show_modal("modal_user_profile");')

= render 'basic_info_modal'

%br
%br
.row-fluid
  .span9
    - if @user.watch_lists.count != 0
      .watchlists
        .header
          = @user.firstname
          is looking for buddies to see
        %br
        - @user.watch_lists.each do |w|
          .row-fluid
            .span2
              %ul.thumbnails{:style => 'padding: 0px; margin-top:0px;'}
                %li{:style => 'width: 75px; height: 100px;'}
                  .thumbnail.nopadding
                    = image_tag w.movie.poster.url, :class=>"mov_search_pic"
            .span6
              .description
                %h3= w.movie.title
                - if w.watch_list_preferred_theaters.count != 0
                  %p
                    %b Theaters:
                    - w.watch_list_preferred_theaters.each do |t|
                      = "#{t.theater.name} "
            .span4
              %span.btn-wrapper.pull-right
                = link_to('Edit Watchlist Item', 'javascript:void(0);', :onclick=>'javascript:show_modal("watchlist_' + w.movie_id.to_s + '");', :class => "btn btn-primary btn-large span2" )
                //= link_to("Let's Get Popcorn", {:controller => "users/conversations", :action => "new", :recipient_id => @user.id, :watch_list_id => w.id}, {:class => "btn btn-primary btn-large span2"})
          = render 'modal_edit_watchlist', :movie=>w.movie, :watchlist=>w

    %ul.questions-and-answer-portion
      - @questions.each do |q|
        %li
          .heading
            %h2= q.content
            .edit_link= link_to('(edit)', 'javascript:void(0);', :data=>q.id)
          - a=@user.answers.find_by_question_id(q.id)
          - if a
            .read_only{:id=>'read-only-' + q.id.to_s}
              = raw(a.response.gsub(/\n/, '<br>'))
            .edit{:id=>'edit-' + q.id.to_s}
              = form_for(a, :url=>users_answer_path(a.id), :remote=>true) do |f|
                = f.hidden_field :question_id
                = f.hidden_field :user_id
                = f.text_area :response, :rows=>3
                = f.submit
          - else
            - a=@user.answers.new(:question_id=>q.id, :user_id=>@user.id)
            .read_only{:id=>'read-only-' + q.id.to_s}
              = 'no answer'
            .edit{:id=>'edit-' + q.id.to_s}
              = form_for(a, :url=>users_answers_path, :remote=>true) do |f|
                = f.hidden_field :question_id
                = f.hidden_field :user_id
                = f.text_area :response, :rows=>3
                = f.submit

