<% # here i am going to insert the filter form based on the theater filter form %>



<% @users.each do |user| %>
	<br>
  <% if user.user_images.first(:order=>'id desc', :conditions=>'is_profile_pic=true') %>
	  <%= image_tag user.user_images.first(:order=>'id desc', :conditions=>'is_profile_pic=true').photo.url(:medium), :class=>'buddy_search_profile_pic' %>
  <% else %>
    -- No Image Replace with handler. --
  <% end %>
	<b><%= user.firstname %></b>
	<br>
	<%= user.gender %>
	/
	<%= age(user.birthdate) %>
	/
	<%= user.orientation %>
	/
	<% #we still need to convert zip to manhattan neighborhood %>
	<%= user.zipcode%>
	<br>
	Looking for buddies to see:
	<br>
	MOVIE NAME HERE
	<br>
<% end %>



<% # this is the classic index look, being commented out for now -%>
<% if false %>
<table>
  <tr>
    <th>Id</th>
    <th>First Name</th>
    <th>Email</th>
    <th>Encrypted_password</th>
    <th>Gender</th>
    <th>Orientation</th>
    <th>Zipcode</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
	<td><%= user.firstname %></td>
	<td><%= user.email %></td>
	<td><%= user.encrypted_password %></td>
	<td><%= user.gender %></td>
	<td><%= user.orientation %></td>
	<td><%= user.zipcode %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
<% end %>