<% # here i am going to insert the filter form based on the theater filter form %>
Buddies who want to see:
<%= select_tag('select_movie', options_for_select(@movies.collect { |m| [ m.title, m.id ] }.insert(0,['All Movies', 0]), @param_movie_id)) %>
within
<%= select_tag('select_miles', options_for_select(['1','5','10','20','50','100'], @param_miles )) %>
miles of
<%= text_field_tag :field_zip, @param_zip, :placeholder => @param_zip, :style => 'width: 90px;' %>
<%= submit_tag "Go", :class => 'search_filter btn btn-primary', :style => 'margin-top: -2px;'%>

<% @users.each do |user| %>
  <% ct=0 %>
  <% user.watch_lists.each do |wl| %>
    <% ct+=1 %>
    <% break if ct > 2 %>
    <div class="user_watch_list">
      <% if user.profile_pic %>
        <%= link_to(image_tag(user.profile_pic.photo.url(:medium), :class=>'buddy_search_profile_pic'), users_profile_path(user.id)) %>
      <% else %>
        -- No Image Replace with handler. --
      <% end %>
      <div class="watch_list_profile">
        <b><%= link_to(user.firstname, users_profile_path(user.id)) %></b>
        <br>
        <%= user.gender.camelize %>
        /
        <%= age(user.birthdate) %>
        /
        <%= user.orientation.camelize %>
        /
        <% #we still need to convert zip to manhattan neighborhood %>
        <%= user.zipcode%>
        <br>
        Looking for buddies to see:
        <br>
        <%= wl.movie.title %>
        <% if wl.watch_list_preferred_theaters.count > 0 %>
          at
          <%= wl.watch_list_preferred_theaters.first.theater.name %>
          <% if wl.watch_list_preferred_theaters.count > 1 %>
            and
            <%= link_to(pluralize(wl.watch_list_preferred_theaters.count - 1, 'more theater'), '#more_theaters_' + wl.id.to_s, 'data-toggle'=>'modal') %>.
            <div class='modal' id='more_theaters_<%= wl.id.to_s %>' style='display:none'>
              <div class='modal-header'>
                <%= link_to 'x', nil, :class=>'close', 'data-dismiss' => 'modal'%>
                <h3>Also wants to see at</h3>
              </div>
              <div class="modal-body">
                <ul>
                  <% wl.watch_list_preferred_theaters.each do |wlt| %>
                    <% unless wlt == wl.watch_list_preferred_theaters.first %>
                      <li><%= wlt.theater.name %></li>
                    <% end %>
                <% end %>
                </ul>
              </div>
            </div>
      <% end %>
        <% end %>
        <% if !wl.note.blank? %>
          <br>
          "<%= wl.note %>"
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>

<% @other_users.each do |user|  %>
  <div class="user_watch_list">
    <% if user.profile_pic %>
      <%= link_to(image_tag(user.profile_pic.photo.url(:medium), :class=>'buddy_search_profile_pic'), users_profile_path(user.id)) %>
    <% else %>
      -- No Image Replace with handler. --
    <% end %>
    <div class="watch_list_profile">
      <b><%= link_to(user.firstname, users_profile_path(user.id)) %></b>
      <br>
      <%= user.gender.camelize %>
      /
      <%= age(user.birthdate) %>
      /
      <%= user.orientation.camelize %>
      /
      <% #we still need to convert zip to manhattan neighborhood %>
      <%= user.zipcode%>
      <br>
      No movies added to watch list.
    </div>
  </div>
<% end %>
