.row-fluid
  .span1
    %ul.thumbnails{:style => 'padding: 0px; margin-top:0px;'}
      %li.span1
        .thumbnail.nopadding
          != image_tag @user.profile_pic.photo.url(:thumb) rescue '<img src="http://placehold.it/75x100" >'
  .span5
    %h3= @user.firstname
    %p
      = "#{@user.gender} / #{age(@user.birthdate)} / #{@user.orientation} / #{@user.zipcode}"
    %p
      %i.icon-facetime-video
      Personal Trailer
    - if @user.user_images.count > 0
      %p
        %i.icon-camera
        = link_to(pluralize(@user.user_images.count, "picture"), @user.user_images.first.photo.url(:medium), "rel"=>"lightbox[profile]")
        - @user.user_images.each do |i|
          - if i!=@user.user_images.first
            = link_to('my image', i.photo.url(:medium), "rel"=>"lightbox[profile]", :style=>'display:none;')
  .span3.mutual-friends
    - if @mutual_friends.count > 0
      .header{:style => 'padding: '}
        = link_to("#{ @mutual_friends.count } Mutual Friends",'#mutual_friends', 'data-toggle'=>'modal', :style=>'color:white;')
      %ul.thumbnails{:style => 'padding: 0px;'}
        - ct=0
        - @mutual_friends.each do |f|
          - ct+=1
          - break if ct > 4
          %li{:style => 'width: 45px; height: 55px;'}
            .thumbnail.nopadding
              = link_to(image_tag(f.picture), '#', :rel=>'tooltip', 'data-original-title'=>f.name, :style=>'display:inline:block')

      .modal{:id => "mutual_friends",:style => 'display:none;'}
        .modal-header
          %a.close{'data-dismiss' =>"modal"} &times;
          %h3 Also playing at
        .modal-body
          %ul
            - @mutual_friends.each do |f|
              %li
                = image_tag f.picture
                = f.name

    - if @mutual_likes.count > 0
      .footer
        = link_to("#{@mutual_likes.count} Common Interests",'#mutual_interests', 'data-toggle'=>'modal', :style=>'color:white;')

      .modal{:id => "mutual_interests",:style => 'display:none;'}
        .modal-header
          %a.close{'data-dismiss' =>"modal"} &times;
          %h3 Common Interests
        .modal-body
          - # movie category first
          - ct=0
          - @mutual_likes.each do |i|
            - if i.category=='Movie'
              - ct+=1
              = 'Movies' if ct == 1
              %ul
                %li
                  = "#{i.name}"

          - # other categories
          - cat=nil
          - @mutual_likes.each do |i|
            - if i.category!='Movie'
              = i.category if cat != i.category
              %ul
                %li
                  = "#{i.name}"
              - cat=i.category



  .span3
    %span.btn-wrapper.pull-right
      = link_to("Message", {:controller => "users/conversations", :action => "new", :recipient_id => @user.id}, {:class => "btn btn-primary btn-large", :style => 'width: 110px'})
    %br.clearfix
    %span.btn-wrapper.pull-right
      %a.btn.btn-primary.btn-large{:style => 'width: 110px'} Save

%br
%br
.row-fluid
  .span9
    - if @user.watch_lists.count != 0
      .watchlists
        .header
          = @user.firstname
          is looking for buddies to see
        %br
        - @user.watch_lists.each do |w|
          .row-fluid
            .span2
              %ul.thumbnails{:style => 'padding: 0px; margin-top:0px;'}
                %li{:style => 'width: 75px; height: 100px;'}
                  .thumbnail.nopadding
                    = image_tag w.movie.poster.url, :class=>"mov_search_pic"
            .span6
              .description
                %h3= w.movie.title
                - if w.watch_list_preferred_theaters.count != 0
                  %p
                    %b Theaters:
                    - w.watch_list_preferred_theaters.each do |t|
                      = "#{t.theater.name} "
            .span4
              %span.btn-wrapper.pull-right
                = link_to("Let's Get Popcorn", {:controller => "users/conversations", :action => "new", :recipient_id => @user.id, :watch_list_id => w.id}, {:class => "btn btn-primary btn-large span2"})

    - if @user.answers.count != 0
      - @user.answers.each do  |a|
        .questions-and-answer-portion
          %h2= a.question.content
          .answer
            = a.response
