<% content_for :head do %>
	<%= stylesheet_link_tag "dashboard", :media => "all" %>
<% end %>

<% unless @user.firstname && @user.gender && @user.orientation && @user.zipcode && @user.birthdate %>
  <div id="modal_user_profile" class="modal" style="display:none">
    <div class="modal-header">
      Almost There!
    </div>
    <div class="modal-body">
      <%= form_for(@user, :url=>users_json_path(@user.id, :format=>:json), :remote=>true, :html=>{:id=>'form_user_profile'}) do |f| %>
        <%= f.label :firstname %>
        <%= f.text_field :firstname %>
        <%= f.label :gender %>
        <%= f.select :gender, options_for_select([["Female", 'female'],["Male", 'male']],  :selected=>@user.gender), { :include_blank=>true }%>
        <%= f.label :orientation %>
        <%= f.select :orientation, options_for_select([ ["Straight", "Straight"], ["Gay/Lesbian", "Gay"], ["Bisexual","Bi"]]),  { :include_blank=>true } %>
        <%= f.label :zipcode %>
        <%= f.text_field :zipcode %>
        <%= f.label :brithdate %>
        <%= f.date_select :birthdate %>
        <br/>
        <ul id="form_user_profile_errors"></ul>
        <%= link_to raw('Finish Signup'), 'javascript:void(0);', :onclick=>"javascript:submit_profile_form();", :remote=>true, :id=>'btn_submit_form_user_profile' %>
      <% end %>
    </div>
  </div>
  <div id="modal_user_profile_exists" exists=1></div>
<% end %>

<header class="sub_head">
  <h2>Welcome to Let's Get Popcorn!</h2>
  <form>
    <label>Search Members and Movies: </label>
    <input type="search" placeholder="Start Typing" />
  </form>

  <!-- clear the float -->
  <div class="clearfloat"></div>
</header>
	
<section class="buddies_near_you">
  <h3>
    Popcorn Buddies near you
    (<%= link_to "browse all" %>):
  </h3>
  <ul>
    <% 4.times do |num| %>
      <li>
        <%= image_tag 'user.jpeg', :class=>'user_thumb' %>
        <%= link_to "Vinod" %>
        32/M/Girls/Manhattan<br />
        Wants to see: "BullHead" <br />
        Favorite Movie: "Harold and Kumar's Christmas Vacation"
      </li>
    <% end %>
  </ul>
</section><!-- .buddies_near_you -->
	
<section class="popular_movies">
  <h3 class="cta">
    Add a movie to your watchlist today and start connecting with nearby moviegoers!
  </h3><!-- .cta -->
  <h3>
    Popular Movies:
    (<%= link_to "browse all" %>):
  </h3>
  <ul class="popular_movies">
    <% 2.times do |num| %>
      <li>
        <a href="#">
          <%= image_tag 'movie.jpg', :class=>'movie_thumb' %>
          <%= link_to "Horrible Bosses (PG-13)" %> <br />
          Ever wanted to kill your boss?
          <ul class="user_list">
            <% 3.times do |num| %>
              <li><%= image_tag 'user.jpeg', :class=>'user_thumb' %></li>
            <% end %>
          </ul>
          <small>
            <%= link_to "8 people near you want to see this (see all)" %>
          </small>
        </a>
      </li>
    <% end %>
  </ul>
</section><!-- .popular_movies -->

<aside>
  <h3>Recent Reviews:</h3>
  <ul class="recent_reviews">
    <% 2.times do |num| %>
      <li><%= link_to "John" %> reviewed <%= link_to "Horrible Bosses" %></li>
    <% end %>
  </ul><!-- .recent_reviews -->
</aside>
<aside>
  <h3>Your Visitors</h3>
  <ul class="your_visitors">
    <% 4.times do |num|  %>
      <li>
        <a href="#">
          <%= image_tag 'user.jpeg', :class=>'user_thumb' %>
          Vinod <br />32/M
        </a>
      </li>
    <% end %>
  </ul><!-- .your_visitors -->
</aside>

<!-- clear the float -->
<div class="clearfloat"></div>