<h1>Listing movies</h1>

<table>
  <tr>
    <th>Tmsid</th>
	<th>Title/th>
    <th>Description</th>
    <th>Genre</th>
    <th>Rating</th>
    <th>Release dt</th>
    <th>Trailer url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @movies.each do |movie| %>
  <tr>
    <td><%= movie.TMSId %></td>
	<td><%= movie.title %></td>
    <td><%= movie.desc_long %></td>
    <td><%= movie.genre %></td>
    <td><%= movie.rating %></td>
    <td><%= movie.release_dt %></td>
    <td><%= movie.trailer_url %></td>
    <td><%= link_to 'Show', movie %></td>
    <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
    <td><%= link_to 'Destroy', movie, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Movie', new_movie_path %>
