<h1>Movies within</h1>
<%= select_tag('select_miles', options_for_select(['1','5','10','15','20','25'], @param_miles )) %>
miles of <%= text_field_tag 'field_zip', @param_zip, :onFocus => "this.value='';", :onBlur => "if (this.value == '') this.value = '#{@param_zip}';" %>
<%= link_to 'Filter', 'javascript:void(0);', :onclick=>'javascript:filter();' %>

<% if @movies.length == 0 %>
  <h2>No movies found -- handle this case.</h2>
<% end %>

<div class="mov_container">
  <% @movies.each do |movie| %>
    <br>
    <%= image_tag movie.poster, :class=>'mov_search_pic' %>
    <b><%= movie.title %></b>&nbsp; (Rated <%= movie.rating %>)
    <br>
    Released: <%= movie.release_dt.strftime("%b %e") if movie.release_dt %>
    <br>
    Genre: <%= movie.genre %>
    <br>
    Playing at <i><%= movie.theaters.first.name %></i>

    <% if movie.theaters.length > 1 %>
      and
      <%= link_to (pluralize(movie.theaters.length-1, "more theater", "more theaters")), '#more_theaters_'+ movie.id.to_s, 'data-toggle'=>'modal' %>
      <div class="modal" id="more_theaters_<%= movie.id.to_s %>" style="display:none;background-color:yellow;">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">×</a>
          <h3>Also playing at</h3>
        </div>
        <ul class="modal-body" >
          <% movie.theaters.each do |t| %>
            <% unless t==movie.theaters.first %>
              <li><%= t.name %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <%end%>
    <span id="watchlist_watching_<%= movie.id.to_s %>" style="display:none;">Added to watchlist.</span>
    <%= link_to 'Add to Watchlist', 'javascript:void(0);', :onclick=>'javascript:watch_list_add(1,' + movie.id.to_s + ')', :id=>'watchlist_add_link_' + movie.id.to_s %>
    <%= link_to 'Remove', 'javascript:void(0);', :onclick=>'javascript:watch_list_remove(1,' + movie.id.to_s + ')', :id=>'watchlist_remove_link_' + movie.id.to_s, :style=>'display:none' %>
    <br>
    <script language="javascript">
      $(document).ready(function () {
        set_watchlist_status(<%= movie.id.to_s %>);
      });
    </script>
  <%end%>
</div>

<script language="javascript">

  function filter(){
    miles=$('#select_miles').val();
    zip=$('#field_zip').val();
    window.location='/movies?miles=' + miles + '&zip=' + zip
  }

  var my_watchlist=<%= raw(@watch_list.to_json) %>;

  function set_watchlist_status(movie_id){
    for(var i=0; i<my_watchlist.length; i++){
      //console.log(my_watchlist[i]);
      wl=my_watchlist[i];
      if (movie_id==wl.movie_id){
        //console.log('watching movie: ' + movie_id);
        set_watching_movie(movie_id);
        return;
      }
    };
  };

  function set_watching_movie(movie_id){
    $('#watchlist_watching_' + movie_id).css('display','inline');
    $('#watchlist_remove_link_' + movie_id).css('display','inline');
    $('#watchlist_add_link_' + movie_id).css('display','none');
  };

  function set_not_watching_movie(movie_id){
    $('#watchlist_watching_' + movie_id).css('display','none');
    $('#watchlist_remove_link_' + movie_id).css('display','none');
    $('#watchlist_add_link_' + movie_id).css('display','inline');
  };

  function watch_list_add(user_id, movie_id){
    $.post('/watchlist', {'user_id' : user_id, 'movie_id' : movie_id },
      function(data){
        console.log(data);
        if (data.success){
          // do something to show it was added.
          set_watching_movie(movie_id);
        } else{
          // handle the error however you want.... display error returned from app or generic message.
        };
    }, 'json' );
  };

  function watch_list_remove(user_id, movie_id){
    $.post('/watchlist/0', {'_method' : 'delete', 'user_id' : user_id, 'movie_id' : movie_id },
      function(data){
        console.log(data);
        if (data.success){
          // do something to show it was added.
          set_not_watching_movie(movie_id);
        } else{
          // handle the error however you want.... display error returned from app or generic message.
        };
      }, 'json' );
  };

</script>
