<%= form_tag('/movies', :method => :get) do %> 
        <h1>Movies within</h1>
		<%= select_tag('movlistradius', options_for_select([1,5,10,15,20,25], @radius)) %>  
          miles of <%= text_field_tag 'movlistzip', @z1.zip, :onFocus => "this.value='';", :onBlur => "if (this.value == '') this.value = '#{@z1.zip}';" %>
		<%= submit_tag 'Filter' %>
<% end %>

<br>

<%-# new printout for each movie -%>

<div class="mov_container">
<% @movies.each do |movie| %>
	<br>
	<%= image_tag movie.poster, :class=>'mov_search_pic' %>
	<b><%= movie.title %></b>&nbsp; (Rated <%= movie.rating %>)
	<br>
	Released: <%= movie.release_dt.strftime("%b %e") if movie.release_dt %>
	<br>
	Genre: <%= movie.genre %>
	<br>
	Playing at <i><%= movie.theaters.first.name %></i>

 	<% theatercount = 
		movie.theaters.find(:all,
                         	:conditions => ["miles_between_lat_long(?, ?,
                          					theaters.latitude, theaters.longitude) < ?",
                                        	@z1.lat, @z1.lng, @radius]).count
	 										# here, if there are more theaters, we display "at xx more theater(s)"
	%>
	<% if theatercount > 1 %>
		and
	 	<%= pluralize(theatercount-1, "more theater", "more theaters") %>
	<%end%>
	<br>
</div>

<%end%>

<%-# the original code is commented out with an "if false" line -%>
<% if false %>

<table>
  <tr>
    <th>Tmsid</th>
	<th>Title/th>
    <th>Description</th>
    <th>Genre</th>
    <th>Rating</th>
    <th>Release dt</th>
    <th>Trailer url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @movies.each do |movie| %>
  <tr>
    <td><%= movie.TMSId %></td>
	<td><%= movie.title %></td>
    <td><%= movie.desc_long %></td>
    <td><%= movie.genre %></td>
    <td><%= movie.rating %></td>
    <td><%= movie.release_dt %></td>
    <td><%= movie.trailer_url %></td>
	<td><%= link_to 'Show', movie %></td>
    <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
    <td><%= link_to 'Destroy', movie, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Movie', new_movie_path %>

<% end %>
