<p id="notice"><%= notice %></p>

<p>
  <b>Tmsid:</b>
  <%= @movie.TMSId %>
</p>

<p>
  <b>Title:</b>
  <%= @movie.title %>
</p>

<p>
  <b>Desc long:</b>
  <%= @movie.desc_long %>
</p>

<p>
  <b>Genre:</b>
  <%= @movie.genre %>
</p>

<p>
  <b>Rating:</b>
  <%= @movie.rating %>
</p>

<p>
  <b>Release dt:</b>
  <%= @movie.release_dt %>
</p>

<p>
  <b>Trailer url:</b>
  <%= @movie.trailer_url %>
</p>

<p>
	<b> Poster: </b>
	<%= image_tag @movie.poster.url %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
