<% url=(@zip_loc.id ? admin_zip_loc_path(@zip_loc) : admin_zip_locs_path ) %>
  <%= form_for(@zip_loc, :url=>url) do |f| %>
  <% if @zip_loc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@zip_loc.errors.count, "error") %> prohibited this zip_loc from being saved:</h2>

      <ul>
      <% @zip_loc.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :zip %><br />
    <%= f.number_field :zip %>
  </div>
  <div class="field">
    <%= f.label :lat %><br />
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :lng %><br />
    <%= f.text_field :lng %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
