!=# local_assigns.inspect
.row-fluid.movie_synopsis_lists
  .span2.thumbnails
    .thumbnail.dropshadow
      = image_tag movie.poster
  .span8.movie_synopsis
    %h3= "#{movie.title} (Rated #{movie.rating})"
    %p{:style => 'margin-bottom: 0px'}
      %b Release Date:
      = movie.release_dt.strftime("%b %e %Y") if movie.release_dt
      %br
      %b Genre:
      = movie.genre
      %br
      %b Playing at:
      %i= movie.theaters.first.name
      - if movie.theaters.length > 1
        and
        = link_to (pluralize(movie.theaters.length-1, "more theater", "more theaters")), '#more_theaters_'+ movie.id.to_s, 'data-toggle'=>'modal'
        .modal{:id => "more_theaters_#{movie.id.to_s}",:style => 'display:none;'}
          .modal-header
            %a.close{'data-dismiss' =>"modal"} &times;
            %h3 Also playing at
          .modal-body
            %ul
              - movie.theaters.each do |t|
                - unless t == movie.theaters.first
                  %li= t.name

    - if movie.watchlisters.count != 0
      - watchlisters = movie.watchlisters.all
      %ul.thumbnails{:style => 'padding: 0px;'}
        - watchlisters.each do |w|
          %li.span1
            .thumbnail
              %a{:href => users_profiles_path(w.id)}
                %img{:src => (w.user_images.first(:order=>'id desc', :conditions=>'is_profile_pic=true').photo.url(:medium) rescue "/assets/default_#{w.get_gender}_profile_pic.gif") }
      %p
        %a.purple{:href => users_profiles_path(watchlisters.first.id)}= watchlisters.first.firstname
        - if watchlisters.count > 1
          and
          = watchlisters.count - 1
          other people near you want to see this (
          %a see all
          )

    %p.summary
      %b Summary:
      = shorten movie.desc_long, 200
      - if movie.desc_long.length >= 200
        = link_to "read more", '#summary_'+ movie.id.to_s, 'data-toggle'=>'modal'

    %br
  .span2.watchlist-action{'class' => (@watch_list.select{|x| x.movie_id == movie.id}.count != 0 ? 'is_watched' : ''), 'data-movie-id' => movie.id, 'data-user-id' => current_user.id }
    %p Added to watchlist.

    %a.watch-lists-rem.btn.btn-primary.btn-large{:data_movie_id=>movie.id.to_s, :data_user_id=>current_user.id} Remove
    = link_to "Add to Watch List", '#watchlist_'+ movie.id.to_s, 'data-toggle'=>'modal', :class=>'watch-lists-add-display btn btn-primary btn-large'
    .modal{:id => "watchlist_#{movie.id.to_s}",:style => 'display:none;'}
      .modal-header
        %a.close{'data-dismiss' =>"modal"} &times;
        %h3 Add to Watch List
      .modal-body
        = movie.title
        .note Optional Note
        =text_field_tag 'optional_note', '', :maxlength=>128
        .preferred_theaters
          Select Preferred theaters near
          =text_field_tag 'preferred_theater_zip_code', @param_zip
          %a.refresh_preferred_theaters{:movie_id=>"#{movie.id.to_s}"} Go
          .search_error
            No Theaters Found
          %ul
            - movie.theaters.each_with_index do |t,i|
              - break if i==4
              %li
                = check_box_tag 'watch_list_theaters', t.id
                = t.name
      .modal-footer
        %a.watch-lists-add.btn.btn-primary.btn-large{:data_movie_id=>movie.id.to_s, :data_user_id=>current_user.id} Add to Watchlist

    = render partial: "users/movies/modal_movie_summary", locals: { movie: movie }
%br
