All movies playing within
= select_tag('select_miles', options_for_select(['1','5','10','20','50','100'], @param_miles ))
miles of
= text_field_tag :field_zip, @param_zip, :placeholder => @param_zip, :style => 'width: 90px;'
= submit_tag "Go", :class => 'search_filter btn btn-primary', :style => 'margin-top: -2px;'

= submit_tag "Search", :class => 'search_filter btn btn-primary', :style => 'margin-top:2px; margin-left: 5px; float:right'
= text_field_tag :field_search, @param_search, :style => 'width: 150px;float:right;'

%br
%br
.alert.alert-info.text-center
  %a.close{'data-dismiss' => 'alert' } &times;
  %b Hint:
  Add a movie to your watchlist so that Popcorn Buddies in your area can offer to join!

%br
- if @movies.length == 0
  %h2 No movies found, try a broader search
- else
  = render :partial => 'movie_synopsis', :collection => @movies, :as => :movie
