<h2>Sign up</h2>

<%= form_for @user, :url => registration_path(@user), :html => { :multipart => true } do |f| %>
  <%= devise_error_messages! %>

	<div><%= f.label :firstname %><br />
	  <%= f.text_field :firstname %></div>
	
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

	<div><%= f.label :gender %><br />
	<%= select :user, :gender, options_for_select([["Female", "F"],["Male", "M"]]) %><br/>
	
	<div><%= f.label :orientation %><br />
	<%= select :user, :orientation, options_for_select([["Straight", "Straight"], ["Gay/Lesbian", "Gay"], ["Bisexual","Bi"]]) %><br/>
	
	<div><%= f.label :zipcode %><br />
	  <%= f.text_field :zipcode %></div>

	<div><%= f.label :birthdate %><br />
	<%= f.datetime_select :birthdate %></div>

	<div><%= f.label :user_image %><br />	
			<%= file_field_tag :photo %></div>
	
  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "links" %>
