<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', :media => "all" %>
</head>
<body>
  <%= facebook_common 'FB_Callback();' %>
  
	<% unless user_signed_in? %>
    <a href="/users/sign_in" class="login_link">Login</a>
	<% end %>

	<section>
		<div class="logotype"></div>

		<h2>Find a movie buddy today!</h2>

		<%= form_for(@invite_code, :url=>invite_codes_path(:format=>:json), :remote=> true, :html=>{:id => 'form_invite_code'}) do |f| %>
      <%= f.label :code, 'Invite Code:'%>
      <%= f.text_field :code %>
      <%= f.submit 'Get Popcorn!' %>
		<% end %>

    <ul id="errors"></ul>
    
	</section>

	<footer>
		Don't have an invite code? 
		<a href="javascript:void(0)">Use referrer e-mail address instead</a> 
		or 
		<a href="javascript:void(0)">request an invite</a>.
		
		<nav class="prototype_nav_links">
		<%= link_to "Dashboard", dashboard_path %>
		|
		<%= link_to "Profile", profile_path %>
		</nav>
	</footer>


  <br/>
  <br/>
  <br/>
  <br/>
  Temp Stuff -- form toggles --- move this stuff to app helpers or partials later..

  <br/>
  <%= link_to 'toggle signin form',  '#modal_sign_in', 'data-toggle'=>'modal' %><br/>
  <%= link_to 'toggle signup form',  '#modal_sign_up', 'data-toggle'=>'modal' %><br/>
  <%= link_to 'toggle invite request form',  '#modal_request_invite', 'data-toggle'=>'modal' %><br/>

  <% # move these to app helpers later...  %>
  <div id="modal_sign_up" class="modal" style="display:none;width:630px;">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      Sign Up
    </div>
    <div class="modal-body">
      <% # move into partial -- pull out client id and hostname  ( hardcoded to dev for now ) %>
      <fb:registration redirect-uri="http://localhost:3000/auth/facebook/callback"
        fields="[{'name':'name'},{'name':'email'},{'name':'gender'},{'name':'birthday'},{'name':'zip_code', 'description':'Zip Code', 'type':'text'},{'name':'orientation','description':'Orientation','type':'select','options':{'straight':'Straight','gay':'Gay','bi-sexual':'Bi-Sexual'}},{'name':'password'}]"
      ></fb:registration>
      <script>
        function validate_facebook_registration(form) {
          errors = {};
          if (form.zip_code == "") {
            errors.zip_code = "Zip Code is required";
          }
          return errors;
        };
      </script>
    </div>
  </div>

  <script>
    // testing stuff for FB redirects

    function FB_Callback(){

      FB.Event.subscribe('auth.login',
        function(response) {
          console.log('user just logged in');
          FB_handle_login(response.authResponse.signedRequest, response.authResponse.accessToken)
        }
      );

      FB.getLoginStatus(function(response) {
        console.log(response);
        if (response.status === 'connected') {
          console.log('user_logged into facebook -- app authorized');
          alert('You visited the homepage and have already authorized the app in FB and are logged into FB -- what should we do? Redirecting for now.');
          FB_handle_login(response.authResponse.signedRequest, response.authResponse.accessToken)

        } else if (response.status === 'not_authorized') {
          console.log('user_logged into facebook -- app not authorized');
          // the user is logged in to Facebook,
          // but has not authenticated your app
        } else {
          console.log('user not logged into facebook');
          // the user isn't logged in to Facebook.
        }
      });

    };

    function FB_handle_login(signedRequest, accessToken){
      // post signed request to auth handler
      $.post('/auth/facebook/callback', { 'signed_request':signedRequest, 'access_token':accessToken, 'provider':'facebook'},
        function(data){
          console.log(data);
          if (data.success){
            if (data.redirect){ window.location=data.redirect; }
          } else{

          }
        }, 'json' );
    };

  </script>


  <div id="modal_sign_in" class="modal" style="display:none">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      Sign In
    </div>
    <div class="modal-body">

      <%= form_for(current_user, :as => 'user', :url => session_path('user', :format=>:json), :remote=>true, :html=>{:id=>'form_sign_in'}) do |f| %>

        <%= f.label :email , "Email Address:" %>
        <%= f.email_field :email %>

        <%= f.label :password , "Password:" %>
        <%= f.password_field :password %>

        <ul id="form_sign_in_errors"></ul>
        
        <%= link_to 'Sign In', 'javascript:void(0);', :onclick=>'javascript:$("#form_sign_in").submit();' %>

      <% end %>

      or
      <div class="fb-login-button" data-show-faces="false" data-width="200" data-max-rows="1"></div>

    </div>
  </div>

  <div id="modal_request_invite" class="modal" style="display:none">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      Request Beta Invite
    </div>
    <div class="modal-body">
      Lets Get Popcorn is available by invitation only
      Request an invite:
      <%= form_for(@invite_request, :url=>invite_requests_path(:format=>:json), :remote=>true, :html=>{:id=>'form_invite_request'}) do |f| %>
        <%= f.label :email %>
        <%= f.text_field :email %>
        <%= f.label :zip_code %>
        <%= f.text_field :zip_code %>
        <%= f.label :comments %>
        <%= f.text_area :comments, :rows=>5 %>
        <br/>
        <ul id="form_invite_request_errors"></ul>
        <%= f.submit 'Send Request' %>
      <% end %>
    </div>
  </div>

  <div id="modal_request_invite_success" class="modal" style="display:none">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      Request Beta Invite
    </div>
    <div class="modal-body">
      Thanks for requesting access...
    </div>
  </div>

</body>
</html>