<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "welcome", :media => "all" %>
</head>
<body>

	<section>
		<div class="logotype"></div>

		<h2>Find a movie buddy today!</h2>
		
		<%= form_tag "/welcome/verify_code", {:id => 'invite_code'} do %>
			<label>Username: </label>
			<input type="text" placeholder="username" name="code_value" size="30" type="text" /><br/>
			<label>Password: </label>
			<input type="text" placeholder="Password" name="code_value"  size="30" type="text" /><br/>
			<label>Password (again): </label>
			<input type="text" placeholder="Password(again)" name="code_value"  size="30" type="text" /><br/>
			<label>Gender: </label>
			<%= select :user, :gender, options_for_select([["A Girl", "female"],["A Guy", "male"]]) %><br/>
			<label>Interested In: </label>
			<%= select :user, :orientation, options_for_select([["A Guy", "men"], ["A Girl", "women"], ["Any","any"]]) %><br/>
			<input type="submit" value="Register" />
		<%end%>

	</section>
		
</body>
</html>