<%= @user.inspect %>
<br/>
<br/>
<%= @new_image.inspect %>
<br/>
<br/>
<br/>


<%= form_for(@new_image, :resource=>'user_image', :url => user_users_pic_test_index_path(@user.id), :html => { :multipart=> true }) do |f| %>
  <% if @new_image.errors.count > 0 %>
    <ul style="color:red">
      <% @new_image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  Browse to file:
  <%= f.file_field :photo %>
  <br/>
  Replace existing profile pic?
  <%= f.check_box :is_profile_pic %>
  <br/>
  <%= submit_tag %>
<% end %>