.buddy
  = image_tag((buddy.profile_pic.photo(:thumb) rescue "bw_popcorn_kernel.jpg"), class: "user_thumb")
  = link_to buddy.firstname, users_profile_path(buddy)
  = "#{age(buddy.birthdate)} / #{buddy.gender.humanize} / #{buddy.orientation && buddy.orientation.humanize || '-'} / #{buddy.zipcode}"
  %br/
  Wants to see:
  = '"' + buddy.watch_lists.last.movie.title + '"'
  %br/
  - if buddy.answers.count > 0
    - answer = buddy.answers.sample(1).first
    - question = answer.question
    = question.content
    = '"' + answer.response + '"'
%br/
