<% content_for :head do %>
	<%= stylesheet_link_tag "dashboards", :media => "all" %>
<% end %>

<% unless @user.firstname && @user.gender && @user.orientation && @user.zipcode && @user.birthdate %>
  <div id="modal_user_profile" class="modal" style="display:none">
    <div class="modal-header">
      Almost There!
    </div>
    <div class="modal-body">
      <%= form_for(@user, :url=>users_dashboard_path(@user.id), :html=>{:id=>'form_user_profile', :multipart=>true}) do |f| %>
        <%= f.label :firstname %>
        <%= f.text_field :firstname %>
        <%= f.label :gender %>
        <%= f.select :gender, options_for_select([["Female", 'female'],["Male", 'male']],  :selected=>@user.gender), { :include_blank=>true }%>
        <%= f.label :orientation %>
        <%= f.select :orientation, options_for_select([ ["Straight", "straight"], ["Gay/Lesbian", "gay"], ["Bisexual","bi"]], :selected=>@user.orientation),  { :include_blank=>true } %>
        <%= f.label :zipcode %>
        <%= f.text_field :zipcode %>
        <%= f.label :birthdate %>
        <%= f.date_select :birthdate %>
        <br/>
        <%= image_tag @user.profile_pic.photo(:thumb) if @user.profile_pic %>
        Upload a different picture
        <%= f.file_field :profile_pic %>
        <br/>
        <ul id="form_user_profile_errors">
        <% if @user.errors.any? %>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        <% end %>
        </ul>
        <%= link_to raw('Finish Signup'), 'javascript:void(0);', :onclick=>"javascript:submit_profile_form();", :remote=>true, :id=>'btn_submit_form_user_profile' %>
      <% end %>
    </div>
  </div>
  <div id="modal_user_profile_exists" exists=1></div>
<% end %>

<header class="sub_head">
  <h2>Welcome to Let's Get Popcorn!
    <%= form_tag users_movies_path, :method => :get do -%>
      <%= submit_tag "Search", :class => 'search_filter btn btn-primary' -%>
      <%= text_field_tag :field_search, @param_search, :style => 'width: 150px;float:right;' -%>
      <%= label_tag :field_search, "Search Movies:" -%>
    <%- end -%>
  </h2>
  <!-- clear the float -->
  <div class="clearfloat"></div>
</header>

<div class="row-fluid">
  <div class="buddies_near_you span5">
    <h3>
      Popcorn Buddies near you
      (<%= link_to "browse all", users_profiles_path, class: "deco" %>):
    </h3>
    <%= render partial: 'dashboard_user_synopsis', collection: @near_buddies, as: :buddy -%>
  </div><!-- .buddies_near_you -->

  <div class="popular_movies span5">
    <div class="cta alert fade in" data-dismiss='alert'>
      <a class="close" href="#">x</a>
      <h3>
        Add a movie to your watchlist
        <br />
        today and start connecting with
        <br />
        nearby moviegoers!
      </h3>
    </div>
    <!-- .cta -->
    <h3>
      Popular Movies:
      (<%= link_to "browse all", users_movies_path, class: "deco" %>):
    </h3>
    <%= render partial: "dashboard_movie_synopsis", collection: @popular_movies, as: :movie -%>
  </div><!-- .popular_movies -->

  <div class="sidebar span2">
    <h3>Recent Reviews:</h3>
    <div class="recent_reviews">
      <% 2.times do |num| %>
        <%= link_to "John", "#" %> reviewed
        <%= link_to "Horrible Bosses", "#", class: "deco" %>
        <br />
      <% end %>
    </div><!-- .recent_reviews -->

    <br />

    <h3>Your Visitors:</h3>
    <%- User.all.sample(4).each do |u| -%>
      <div class="visitor">
        <%= image_tag((u.profile_pic.photo(:small_thumb) rescue "bw_popcorn_kernel.jpg"), :class => "user_small_thumb") -%>
        <div class="description">
          <%= link_to u.firstname, "#" -%>
          <br />
          <p> <%= "#{age(u.birthdate)} / #{u.gender.humanize}" -%> </p>
        </div>
      </div>
    <% end %>
    <!-- .your_visitors -->
  </div>
</div>
