<%= form_for(@schedule) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :movie_id %><br />
    <%= f.number_field :movie_id %>
  </div>
  <div class="field">
    <%= f.label :theater_id %><br />
    <%= f.number_field :theater_id %>
  </div>
  <div class="field">
    <%= f.label :showing_dt %><br />
    <%= f.datetime_select :showing_dt %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
