<!DOCTYPE html>
<html>
<head>
  <title>Let's Get Popcorn</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "header", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
	<%if user_signed_in?%>
	<header class="app_head">
		<div class="logotype"></div>
		
		<nav>
			<%= link_to "Popcorn Buddies" %>
			<%= link_to "Movies", watch_lists_path %>
			<%= link_to "Reviews" %>
		</nav>
		
		<div class="current_user">
			<%= image_tag 'user.jpeg', :class=>'user_thumb' %>
			<%= link_to "Username", profile_path, :class => "user_name" %>
      <% if current_user.is_admin %>
        <%= link_to "Admin", admin_index_path %>
      <% end %>
		</div><!-- .current_user -->
		
		<!-- clear the float -->
		<div class="clearfloat"></div>
	</header>
	<%end%>
<!-- end header -->
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
